@model IEnumerable<Art_Shop_Data.Model.Product>

@{
    
   ViewBag.Title = "Index";
}

<p class=" texto"> Catalogo de Cuadros</p>
<table>

    <tbody id="imagenes ">

        <tr>
            @{
                var i = 0;
            }

            @foreach (var item in Model)
            {

             

                if (i == 3)
                {
                <tr>
        
                </tr>
                    i=0;
                }

                i += 1;


                <td>
                    <div id="imagenes">
                        <a target="_self" href="@Url.Action("ViewProduct", "Carts" ,new { id = item.Id })">
                            @Html.HiddenFor(modelItem => item.Id);
                            <img src="@Url.Content("~/Content/Image/" + @Html.DisplayFor(modelItem => item.Image)) " alt="@Html.DisplayFor(modelItem => item.Title)">
                        </a>
                        <div class="desc">@Html.DisplayFor(modelItem => item.Title)</div>
                    </div>

                </td>

         


            }
        </tr>



            </tbody>


</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")



    <script>

        $("#imagenes").click(function () 
        {
            $("#imagenes").val("");

        });

    </script>

}
